@import '../../config';

#Services {
    padding-bottom: 3rem;
    
    .Services-wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 1100px;

        h2 {
            font-family: "Poppins", sans-serif;
            color: $primary;
            font-size: 2rem;
            text-align: center;
        }

        .Services-cnt {
            .Services-item {
                margin-top: 1rem;
                font-family: "Roboto", sans-serif;
                text-align: center;

                h3 {
                    font-weight: 600;
                }
    
                &:nth-child(n+2) {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #Services {
        .Services-wrapper {
            width: 90%;
            margin: 0 auto;
    
            h2 {
                font-family: "Poppins", sans-serif;
                color: $primary;
                font-size: 2rem;
                text-align: center;
            }
    
            .Services-cnt {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                margin-top: 2rem;

                .Services-item {
                    flex: 50%;
                    margin-top: 0rem;
                    font-family: "Roboto", sans-serif;
                    padding: 0 1rem;
                    text-align: left;

                    h3 {
                        font-weight: 600;
                    }
        
                    &:nth-child(n+2) {
                        margin-top: 0rem;
                    }

                    &:nth-child(n+3) {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #Services {
        // position: relative;
        // border: 2px solid red;

        .Services-wrapper {
            width: 70%;
            max-width: 1100px;
            margin: 0 auto;
            // border: 2px solid #000;
            position: relative;
    
            h2 {
                font-family: "Poppins", sans-serif;
                color: $primary;
                font-size: 4rem;
                text-align: center;
                position: absolute;
                left: -200px;
                top: 25%;
                margin-top: 2rem;
                transform: rotate(270deg);
            }
    
            .Services-cnt {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 2rem;

                .Services-item {
                    flex: 50%;
                    margin-top: 0rem;
                    font-family: "Roboto", sans-serif;
                    padding: 0 1rem;
                    max-width: 450px;

                    h3 {
                        font-weight: 600;
                        font-size: 1.4rem;
                    }

                    p {
                        line-height: 1.4rem;
                    }
        
                    &:nth-child(n+2) {
                        margin-top: 0rem;
                    }

                    &:nth-child(n+3) {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}