@import '../../config';

#contact-wrapper {
    padding-top: 15vh;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page {
    // min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    h2 {
        font-family: "Poppins", sans-serif;
        color: $primary;
        font-size: 2rem;
        text-align: center;
    }

    p {
        font-family: "Roboto", sans-serif;
        width: 85%;
        text-align: center;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 768px) {
    #contact-wrapper {
        padding-top: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact-page {
        // min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    
        h2 {
            font-family: "Poppins", sans-serif;
            color: $primary;
            font-size: 2rem;
            text-align: center;
        }
    
        p {
            font-family: "Roboto", sans-serif;
            width: 85%;
            max-width: 800px;
            text-align: center;
            font-size: 0.9rem;
        }
    }
}