@import '../../config';

.contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
}

.contact-form label:nth-child(n+2) {
    margin-top: 1rem;
}

.contact-form .form-input {
    margin-top: 0.25rem;
    border: solid 2px #000;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

.contact-form .submit-btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background: $primary;
    border: none;
    color: #fff;
    font-family: "Press Start 2P", sans-serif;
}

.contact-form .form-error {
    color: red;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem
}

.form-success {
    font-family: "Roboto Condensed";
    font-size: 1rem;
    text-align: center;
    color: rgb(35, 190, 35);
}

.submit-btn {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .contact-form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .contact-form label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        font-family: "Press Start 2P", sans-serif;
    }
    
    .contact-form label:nth-child(n+2) {
        margin-top: 1rem;
    }
    
    .contact-form .form-input {
        margin-top: 0.25rem;
        border: solid 2px #000;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.2rem;
        padding: 0.25rem 0.5rem;
    }
    
    .contact-form .submit-btn {
        width: 50%;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        background: $primary;
        border: none;
        color: #fff;
        font-family: "Press Start 2P", sans-serif;
    }
}

@media only screen and (min-width: 1100px) {
    .contact-form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .contact-form label {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        font-family: "Press Start 2P", sans-serif;
    }
    
    .contact-form label:nth-child(n+2) {
        margin-top: 1rem;
    }
    
    .contact-form .form-input {
        margin-top: 0.25rem;
        border: solid 2px #000;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1.2rem;
        padding: 0.25rem 0.5rem;
    }
    
    .contact-form .submit-btn {
        width: 30%;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        background: $primary;
        border: none;
        color: #fff;
        font-family: "Press Start 2P", sans-serif;
    }
}

