@import '../../config';

.Header {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

    .Header-wrapper {
        width: 90%;
        max-width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-cnt {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40px;
            }

            a {
                text-decoration: none;
                color: $primary;
                margin-left: 0.5rem;

                h1 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.2rem;
                }
            }
        }

        nav {
            .nav-menu {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    &:nth-child(n+2) {
                        margin-left: 2rem;
                    }
                    
                    a {
                        font-family: "Poppins", sans-serif;
                        color: #000;
                        text-decoration: none;
                        font-weight: 200;
                        // letter-spacing: 0.05rem;

                        &:hover {
                            text-decoration: underline;
                        }

                        
                    }

                    .contact-btn {
                        color: #fff;
                        background: $primary;
                        padding: 0.5rem 1rem;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            text-decoration: none;
                            background: rgba(91, 205, 248, 0.8);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .Header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .Header-wrapper {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo-cnt {
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 40px;
                }
    
                a {
                    text-decoration: none;
                    color: $primary;
                    margin-left: 0.5rem;
    
                    h1 {
                        font-family: 'Poppins', sans-serif;
                        font-size: 1.2rem;
                    }
                }
            }
    
            nav {
                .nav-menu {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    li {
                        &:nth-child(n+2) {
                            margin-left: 1.5rem;
                        }
                        
                        a {
                            font-family: "Poppins", sans-serif;
                            color: #000;
                            text-decoration: none;
                            font-size: 0.9rem;
                            font-weight: 200;
                            // letter-spacing: 0.05rem;
    
                            &:hover {
                                text-decoration: underline;
                            }
    
                            
                        }
    
                        .contact-btn {
                            color: #fff;
                            background: $primary;
                            padding: 0.5rem 1rem;
                            transition: all 0.2s ease-in-out;
    
                            &:hover {
                                text-decoration: none;
                                background: rgba(91, 205, 248, 0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .Header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .Header-wrapper {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .logo-cnt {
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 40px;
                }
    
                a {
                    text-decoration: none;
                    color: $primary;
                    margin-left: 0.5rem;
    
                    h1 {
                        font-family: 'Poppins', sans-serif;
                        font-size: 1.2rem;
                    }
                }
            }
    
            nav {
                .nav-menu {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    li {
                        &:nth-child(n+2) {
                            margin-left: 3rem;
                        }
                        
                        a {
                            font-family: "Poppins", sans-serif;
                            color: #000;
                            text-decoration: none;
                            font-size: 1rem;
                            font-weight: 200;
                            // letter-spacing: 0.05rem;
    
                            &:hover {
                                text-decoration: underline;
                            }
    
                            
                        }
    
                        .contact-btn {
                            color: #fff;
                            background: $primary;
                            padding: 0.5rem 1rem;
                            transition: all 0.2s ease-in-out;
    
                            &:hover {
                                text-decoration: none;
                                background: rgba(91, 205, 248, 0.8);
                            }
                        }
                    }
                }
            }
        }
    }
}