@import '../../config';

.Footer {
    height: 5vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
    .Footer {
        height: 8vh;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
    }
}