@import '../../config';

#Work {

    .Work-wrapper {
        h2 {
            font-family: "Poppins", sans-serif;
            color: $primary;
            font-size: 2rem;
            text-align: center;
        }

        .work-cnt {
            margin-top: 2rem;

            .work-item {
                width: 85%;
                margin: 0 auto;

                &:nth-child(n+2) {
                    margin-top: 2.5rem;
                }

                img {
                    width: 90%;
                    margin: 0 auto;
                    display: block;
                }

                .work-item-text {
                    margin-top: 1rem;
                    text-align: center;

                    h3 {
                        font-family: "Poppins", sans-serif;
                    }

                    p {
                        font-family: "Roboto", sans-serif;
                        font-size: 0.9rem;

                        a {
                            color: #000;
                        }
                    }

                    .work-btn {
                        font-family: "Roboto", sans-serif;
                        margin: 0 auto;
                        margin-top: 1rem;
                        color: #fff;
                        text-decoration: none;
                        background: #000;
                        padding: 0.25rem 0.75rem;
                        display: block;
                        width: max-content;
                        font-size: 0.9rem;
                        letter-spacing: 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // border-bottom: 5px solid $primary;
                        border-right: 5px solid $primary;

                        img {
                            width: 15px;
                            margin-left: 0.5rem;
                            margin-bottom: 0.2rem;
                            display: inline-block;
                            padding-top: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}